form((submit)="login($event)")
  h1(*ngIf="username$ | async")
    | Welcome {{ username$ | async }}!
  div {{ (isAccount ? 'account_login' : 'user_login') | translate }}
  button.btn-block(rbBtn="primary", type="submit") {{ 'login' | translate }}
  a([routerLink]="'/landing/login' + (isAccount ? '' : '/account')", [replaceUrl]="true") {{ (isAccount ? 'user_login' : 'account_login') | translate }} »
  a.pull-right([routerLink]="'/landing/forget-password'", [replaceUrl]="true") {{ ('forget_password' | translate) + ('question_mark' | translate) }}
.tips.text-center
  a(routerLink="/landing/register", [replaceUrl]="true") {{ 'register_tips' | translate }}
