// background colors
$bg-color: #f1f1f1;
$reverse-color: #fff;
$card-bg-color: $reverse-color;

// colors
$landing-color: #494949;
$link-clor: #4aaee7;
$link-desc-color: #999;
$text-desc-color: #888;

$primary-color: #24a7e3;
$primary-light-color: #d7eef9;
$primary-disabled-color: #97cced;
