*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  overflow-y: auto;
  line-height: (20/14);
}

a {
  &,
  &:active,
  &:hover,
  &:visited {
    color: $link-clor;
    text-decoration: none;
  }
}

ol,
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

rb-app {
  display: flex;
  min-height: 100%;
  overflow: hidden;
}

.btn {
  position: relative;
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 3px;
  outline: 0;

  &.btn-xs {
    padding: 3px 5px;
  }

  &.btn-primary {
    color: $reverse-color;
    border-color: $primary-color;
    background-color: $primary-color;

    &.disabled,
    &[disabled] {
      border-color: $primary-disabled-color;
      background-color: $primary-disabled-color;
      cursor: not-allowed;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  + .btn {
    margin-left: 5px;
  }
}

.d-flex {
  display: flex;
}

.flex {
  flex: 1;
  max-height: 100%;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
