.item {
  position: relative;

  &:hover,
  &.expanded {
    background-color: $nav-focus-color;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -2px;
    width: 2px;
    background-color: $primary-color;
    transform: scale(0);
    transition: transform 0.3s;
  }

  &.active:before {
    transform: scale(1);
  }

  > :first-child {
    display: flex;
    height: 32px;
    align-items: center;
    color: rgba($reverse-color, 0.7);
    cursor: pointer;

    &:hover {
      .fa:last-child {
        transform: scale(1.2);
        opacity: 1;
        color: $reverse-color;
      }
    }

    &.active {
      background-color: $primary-color;

      span {
        color: $reverse-color;
      }
    }

    span {
      flex: 1;
    }

    .fa {
      width: 32px;
      text-align: center;
      font-size: 12px;

      &:last-child {
        transform: scale(0.6);
        opacity: 0;
        transition: transform 0.3s cubic-bezier(0.05, 0.71, 0.88, 1.94),
          opacity 0.2s;
      }
    }
  }
}

.sub-items {
  transition: height 0.3s;
  overflow: hidden;

  > li {
    cursor: pointer;

    a {
      display: block;
      padding-left: 32px;
      height: 32px;
      line-height: 32px;
      color: $reverse-color;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        background-color: #3c4b55;
        opacity: 0.7;
      }

      &.active-link {
        background-color: $primary-color;
        opacity: 1;
      }
    }
  }
}
