.modal.fade.show.in
  .modal-dialog
    .modal-content
      .modal-header {{ title }}
      .modal-body
        | Body
        ng-template(#body)
      .modal-footer
        button((click)="close.emit(false)") {{ 'cancel' | translate }}
        button((click)="close.emit(true)") {{ 'confirm' | translate }}
