form.wider((submit)="verify($event)")
  div {{ 'forget_password' | translate }}
  button.btn-block(rbBtn="primary", type="submit") {{ 'verify_now' | translate }}
.tips.text-center
  a(routerLink="/landing/login", [replaceUrl]="true") {{ 'login_tips' | translate }}
