:host {
  padding: 10px 20px;
  background-color: $reverse-color;

  > ol {
    margin-bottom: 0;

    > li {
      display: inline-block;

      > * {
        padding: 0 5px;
      }

      > span {
        color: $bread-crumb-color;
      }
    }
  }
}
